@model IEnumerable<SistemaEscolar.Data.Entities.Materias>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Materias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MateriasId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MateriasName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MateriasId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MateriasName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MateriasId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.MateriasId }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
